[*]
charset = utf-8
indent_style = tab
max_line_length = 120
insert_final_newline = false
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_no-blank-line-in-list = disabled

[**/test/**/*.kt]
ktlint_standard_function-naming = disabled
ktlint_standard_no-empty-file = disabled


[*.{html,js,ts}]
indent_size = 2
ij_continuation_indent_size = 2le

[*.{java,kt,kts,gradle}]
indent_size = 4
ij_continuation_indent_size = 4

[*.{properties,yml}]
indent_size = 2